.borders{
    border: black solid 1px !important;
}

.vh-100{
    height: 100vh;

}

.borders-radius-1{
    border-radius: 1px !important;
}

.borders-radius-2{
    border-radius: 5px !important;
}
.borders-radius-3{
    border-radius: 10px !important;
}
.borders-radius-4{
    border-radius: 15px !important;
}
.borders-radius-5{
    border-radius: 20px !important;
}

.overflow{
    overflow: auto !important;
}
.v-menu__activator{
    justify-content: center;
}
.pre{
    white-space:pre-wrap;
}


.text-teal{
    color: #01806A;
}

.primary-color{
    background: linear-gradient(45deg, #019f71 0%, #019A7F 25.5%, #019A8A 42.5%, #019A7F 49%, #019981 62%, #018971 68%, #019981 86%,
    #009393 100%);
}

.py-custom{
    height: 36px !important;
    width: 36px !important;
}

@font-face {
    font-family: "IbmPlexSansThin";
    src: url("/static/font/ibmplexsans/IBMPlexSans-Thin.ttf") format("opentype");
}

@font-face {
    font-family: "IbmPlexSansRegular";
    src: url("/static/font/ibmplexsans/IBMPlexSans-Regular.ttf") format("opentype");
}

* {
    font-family: 'IbmPlexSansRegular', sans-serif;
}

.regular {
    font-family: 'IbmPlexSansThin', sans-serif !important;
}

.thin {
    font-family: 'IbmPlexSansThin', sans-serif !important;
}

.no-scroll-x{
    overflow-x: hidden !important;
}


.v-menu__content{
    border-radius: 5px !important;
}

.text-right{
    text-align-last: right !important;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(50,50,50,1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(70,70,70,1);
}
